 /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    margin:0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1,1,1,0.5);
    border-radius: 10px;
}
.small_title{
    font-size: 20px;
} 
.form_conatiner{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  gap:20px;
  margin-top: 20px;
}
.form_control{
  display: flex;
  flex-direction: column;
}
label{
  font-size: 15px;
  margin-bottom: 5px;
}
input, select,textarea{
  padding: 6px 10px;
  border:4px solid #ccc;
   border-radius: 4px;
   font-size: 15px;
}
.form_control select option{
  background-color: black;
  color: #fff;
}
input:focus{
  outline-color: rgb(63, 113, 184);
}
.button_container{
  display: flex;
  justify-content: flex-end;
}

button{
  background-color: rgb(63, 113, 184);
  border: transparent solid 2px; 
  padding:5px 10px;
  color: #fff;
  border-radius: 8px; 
  transition: 0.3s ease-in; 
  
 }
.button_container{
  display: flex;
  justify-content: right;
}
button{
  float: right;
}
button:hover{
  background-color: #ccc;
  border: 2px solid rgb(63, 113, 184);
  color:rgb(91, 85, 85);
  transition: 0.3s ease-out;

}  
.textarea_control{
  grid-column: 1/span 2;
}
.textarea_control textarea{
  width: 100%;
}
@media (max-width:460px) {
  .textarea_control{
    grid-column: 1/span 1;
  }
} 
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}

.apply_box {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
  border-radius: 10px;
}

.title_small {
  font-size: 20px;
}

.form_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.form_control {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 15px;
  margin-bottom: 5px;
}

input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

input:focus {
  outline-color: rgb(37, 102, 176);
}

.button_container {
  display: flex;

  justify-content: flex-end;
  margin-top: 20px;
}
button {
  background-color: rgb(58, 117, 199);
  border: transparent solid 2px;
  padding: 5px 10px;
  color: white;
  border-radius: 8px;
  transition: 0.3s ease-in;
}
button:hover {
  background-color: #ccc;
  border: 2px solid rgb(34, 96, 151);
  color: black;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.textarea_control {
  grid-column: 1 / span 2;
}
.textarea_control textarea {
  width: 100%;
}

@media (max-width: 460px) {
  .textarea_control {
    grid-column: 1 / span 1;
  }
} ;